# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.venv/
.venv
.venv*
.pytest_cache/

# VS Code
.vscode/

# PlatformIO / Arduino
.pio/
*.elf
*.hex
*.bin
*.a

# OS
.DS_Store
Thumbs.db

# Logs
logs/*.log
camera_live_frame.jpg

# Local config
config/*.yaml
!config/*.example.yaml
